@tailwind base;
@tailwind components;
@tailwind utilities;

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 2em;
    height: 2em;
}

button[data-class="removeBtn"] > .svg-icon path  {
    fill: red;
}

button[data-class="toggleReadBtn"] > .svg-icon path  {
    fill: green;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}